---
- debug:
    msg: "{{ vars[(role_path | basename).split('.')[-1].replace('-','_').replace('ansible_','')] }}"
  when: DEBUG | d() | bool

- include: dependencies.yml
- include: taps.yml
- include: packages.yml
- include: casks.yml
- include: post.yml
